extends layout

block content
    h3 #{message}
    div.centrarElementosDiv
      div
        form(method = "post", action = "/signup")
         p Nombre <br>
          input(type = "text", name = "name") 
          span.text-danger #{msgNombre}
         p Primer Apellido <br>
          input(type = "text", name = "apellido1")
          span.text-danger #{msgApellido1}
         p Segundo Apellido <br>
          input(type = "text", name = "apellido2") 
          span.text-danger #{msgApellido2}
         p
          input(type = "submit" value = "Enviar")
    div.centrarElementosDiv hola 
       