extends layout

block content
    h3 #{message}
    div
        form(method = "post", action = "/signup")
         p Nombre
          input(type = "text", name = "name")
          span #{msgNombre}
         p Primer Apellido
          input(type = "text", name = "apellido1")
          span #{msgApellido1}
         p Segundo Apellido
          input(type = "text", name = "apellido2")
          span #{msgApellido2}
         p
          input(type = "submit" value = "Insertar")
    div hola 
       